$background-body: #feffd2;
$background: #efefef;

// PADDING & MARGIN
$padding-main: 15px;
$margin-main: 30px;

// NAVBAR
$navbar-color: #ff7d29;
$navbar-color-hover: #ffbf78;

// TEXT
$selection: #ffffff;
$text-main: #ffffff;
$text-bright: #ffffff;
$text-muted: #70777f;
$font-family: 'Open Sans', sans-serif;
$line-height: 1.5;

// FONT SIZE
$font-size-b: 14pt;
$font-size-m: 12pt;
$font-size-s: 10pt;

// FONT SIZE (H1)
$font-size-header-b: 20pt;
$font-size-header-m: 16pt;
$font-size-header-s: 12pt;

// BUTTON
$button-base: #c9dbf1;
$button-hover: #7fbde5;
$button-padding: 5px 10px;
$button-border-radius: 10px;

// ANIMATION
$animation-duration: 0.1s;
